<div id="cart_template">
<h1 style="color:#606362;">Shopping Cart</h1>
<div class="products">
<table>
</table>

</div>
</div>
<div class="divrow" style="text-align:right;padding-right:20px;margin-bottom:10px;border-top:1px solid #606362;border-bottom:1px solid #606362;">
    <h2 style="padding:0;color:#769787;">Subtotal: <span class="subtotal_price">68$</span></h2>
    
</div>
<div class="divrow" style="padding-bottom:40px;">
    <img src="/images/checkout_button.gif" style="float:right;"/>
</div>