<header>
  <h1>skeenglass</h1>
  <nav>
    <a href="/about">about</a>
    <a id="nav_necklaces" href="/#/necklaces/1">necklaces</a>
    <a id="nav_pendants" href="/#/pendants/1">pendants</a>
    <a id="nav_beads" href="/#/beads/1">beads</a>
  </nav>
</header>