<header>
  <h1>skeenglass</h1>
  <nav>
    <ul>
    <li><a id="nav_beads" href="/#/beads/1">beads</a></li>
    <li><a id="nav_pendants" href="/#/pendants/1">pendants</a></li>
    <li><a id="nav_necklaces" href="/#/necklaces/1">necklaces</a></li>
    <li><a href="/about">about</a></li>
    </ul>
  </nav>
</header>