<div id="container">
  
  <div id="cart_status">
    <a href="#/cart" class="cart_link"><img src="/images/cart.gif" /></a>
    <div class="cart_options">		
      <span class='item_count'><span class="number_items"></span> <span class="total_price"></span>  |</span>
      <a href="#/cart" class="checkout_link" style="display:none;">view cart & checkout &raquo;</a>
    </div>
  </div>
  
 <%= render "shared/header" %>
  <div id="pager">
  </div>
  <div id="scrollbar_area">
    <div class="inner">
      <img id="slider" src="/images/slider.gif"/>
    </div>
  </div>
  <div id="products_grid_container">
  </div>
</div>