<!DOCTYPE html>
<html>
<head>
  <title>SkeenGlass.com</title>
  <%= stylesheet_link_tag('colorbox', 'blueprint/screen', 'dark-hive/jquery-ui-1.8.13.custom') %>
  <%= javascript_include_tag('libs/jquery-1.6.1.min', 
                             'libs/jquery-ui-1.8.13.custom.min', 
                             'libs/jquery.colorbox.js', 
                             'jquery.tmpl.min')%>
  
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
