<!DOCTYPE html>
<html>
<!--[if lt IE 7 ]><html lang=en class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang=en class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang=en class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang=en class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang=en class=no-js>
<!--<![endif]-->
<head>
<title>SkeenGlass.com</title>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta name=description content="Skeen Glass Company">
<meta name=author content="Josh Skeen">
<meta name=viewport content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag('colorbox', 
                          'blueprint/screen', 
                          'dark-hive/jquery-ui-1.8.13.custom', 
                          'skeenglass',
                          'jquery.notifyBar'                      
                          ) %>
  <%= javascript_include_tag('libs/jquery-1.6.1.min', 
                             'libs/jquery-ui-1.8.13.custom.min', 
                             'libs/jquery.colorbox', 
                             'libs/modernizr-1.6.min', 
                             'libs/jquery.tmpl.min',
                             'libs/sammy/lib/min/sammy-0.6.3.min',
                             'libs/sammy/lib/min/plugins/sammy.storage-latest.min',
                             'json2',                          
                             'libs/utils',
                             'libs/jquery.notifyBar',
                             'skeenglass'
                            )%>
  <%= csrf_meta_tag %>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<%= yield %>
<script>var _gaq=[["_setAccount","UA-7060237-5"],["_trackPageview"]];(function(e,a){var c=e.createElement(a),b=e.getElementsByTagName(a)[0];c.async=true;c.src=("https:"==location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";b.parentNode.insertBefore(c,b)})(document,"script");</script>
</body>
</html>